<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52452037789-ksf55afq34tul4ovvbotr1d3cajbr9cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52452037789-ksf55afq34tul4ovvbotr1d3cajbr9cq</string>
	<key>API_KEY</key>
	<string>AIzaSyC1OijWtKp-ZXBbPr7KKWMjiwEKrZ_EgSc</string>
	<key>GCM_SENDER_ID</key>
	<string>52452037789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.planerio</string>
	<key>PROJECT_ID</key>
	<string>planerio-bc86e</string>
	<key>STORAGE_BUCKET</key>
	<string>planerio-bc86e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52452037789:ios:6b2374e30d763538677074</string>
</dict>
</plist>